body{
    text-align: center;
    background-color: aqua;
    font-weight: bold;
}
div{
    font-style: italic;
    text-align: center;
    display: block;
}
button{
    text-align: center;
    background-color:aquamarine;
}
h1{
    text-underline-position: auto;
    border-bottom: 3px dashed salmon;
}